.profile__about {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .profile__about {
      font-size: 17px;
      line-height: 17px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__about {
      font-size: 14px;
      line-height: 17px;
      margin: 4% 0 11%;
    }
  }