.profile__add-button {
  background-color: inherit;
  margin: 0 0 0 165px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}
  
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__add-button {
    margin-left: 10%;
  }
}
  
@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}